/* START OF MAIN STYLES */
body {
  font-family: Arial, sans-serif;
  margin: 10px; /* Add padding for readability */
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjust height for small containers */
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.5rem 0;
  font-size: 0.9rem; /* Make text smaller for small popups */
  line-height: 1.4;
}

.discord-link {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #5865F2;
  font-weight: bold;
  font-size: 0.9rem; /* Adjust text size */
}

.discord-link img {
  width: 18px; /* Reduce icon size */
  height: 18px;
  margin-right: 5px;
}
/* END OF MAIN STYLES */

/* START OF GEAR STYLES */
.dropdown {
  position: absolute;
  right: 5px;
  top: 5px
}

.gear-icon {
  display: inherit;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  /* background-color: #ffffff; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s;
}

.gear-icon:hover {
  background-color: #e0e0e0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.hidden {
  display: none;
}
/* END OF GEAR STYLES */